
.App-header {
  font-weight: 500;
}

.App-header li:hover{
  color:rgb(221, 68, 152);
  cursor: pointer;
  transform: scale(1.04);
  transition: 20ms;
}

.App-section {
  height: 500px;
  display: flex;
}
.App-section h3 {
    width: 450px;
    line-height: 35px;
}

#image {
  height: 210px;
  width: 400px;
  background-color: brown;
  margin-top: 30px;
  margin-left:10%;
}
